body {
	margin: 0;
	font-family: calibri, sans-sarif;
}
.header {
	background: white;
	height: 160px;
	font-size: 17px;
}
ul {
	list-style: none;
	margin: 0;
	padding-left: 10px;
	margin-top:5px;
}
a {
	text-decoration: none;
	background:white;
	color:black;
	padding:10px;
	font-family: arial;
	border-radius:4px;
	-moz-transition: all 0.3s 0.01s ease;
	-o-transition: all 0.3s 0.01s ease;
	-webkit-transition: all 0.3s 0.01s ease;
}
.header a:hover {
	background:orange;
}
li {
	float:left;
	margin-left: 10px;
	margin-bottom: 10px;
  
}

#logo {
	margin-top: 10px;
	margin-left: 10px;
}

.big_block {
	margin: 40px;
}
.block_name {
	background: gray;
	font-size: 20px;
	text-align: left;
	color: orange;
	width: 100%;
	display: inline-block;
	font: bold 24px/45px Helvetica, Sans-Serif;
}

 
#content {
	background-color: white;
	height: 900px;
}

#footer {
	background: orange;
	height: 80px;
}
.big_image {
	margin-top: 10px;
	height: 365px;
	background-image: url(lol.jpg);
	background-position: center;
	text-align: center;
	font-size: 25px;
}
.block_content {
	margin: 10px;
	text-align: left;
	font-size: 16px;
}
h2 span {
	color: white;
	font: bold 30px/45px Helvetica, Sans-Serif;
	letter-spacing: -1px;
	background: #20B2AA;
	background: rgba();
	padding: 10px;
}
.topbutton {
	width:100px;
	border:2px solid black;
	background:#f7f7f7;
	text-align:center;
	padding:10px;
	position:fixed;
	bottom:50px;
	right:50px;
	color: black;
	font-family:verdana;
	font-size:13px;
}